*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #833AB4;
    background: linear-gradient(34deg, rgba(131, 58, 180, 1) 19%, rgba(253, 29, 29, 1) 51%, rgba(252, 176, 69, 1) 66%);
}
.container{
    width: 360px;
    background: rgb(80, 80, 244);
    padding: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5em;
    border-radius: 6px;
    border: 4px solid black;
}
.container img{
    width: 190px;
    height: 220px;
    border-radius: 60%;
    border: 3px solid black;   
    object-fit: cover;
}
.container .text{
    width: 100%;

}
.container .text label{
    font-weight: 560;
}